* {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.hero1 {

    position: absolute;
    background-color: orangered;
    height: 50%;
    width: 30%;
    border-radius: 50%;
    filter: blur(15px);
}

.hero2 {

    position: absolute;
    background-color: orangered;
    height: 50%;
    width: 30%;
    border-radius: 50%;
    filter: blur(15px);
    animation-name: animate1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.hero3 {

    position: absolute;
    background-color: orangered;
    height: 50%;
    width: 30%;
    border-radius: 50%;
    filter: blur(15px);
    animation-name: animate2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes animate1 {
    from{
        transform: translate(10%,10%);
    }
    to{
        transform: translate(-10%,-10%);
    }

    
}

@keyframes animate2{
    from{
        transform: translate(10%,-10%);
    }
    to{
        transform: translate(-10%,-30%);
    }

    
}